*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


#calculator{
   width: 500px;
    margin: 20px auto;
    background-color: rgba(200, 197, 197, 0.711);
    padding: 20px;
    display: flex;              
    flex-direction: column; 
    border-radius: 10px;
}

#calculator .screen{
    height:100px;
    width: 100%;
    position: relative;
    background-color: rgb(255, 250, 250);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 3.3rem;
    font-weight: bold;
    border-radius: 5px;
    
}

.btn-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1.2rem;
    flex: 1;

}
.btn-container .calc-btn{
    background-color: whitesmoke ;
    font-weight: bold;
    font-size: 3rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s ease;
    cursor: pointer;
    box-shadow: 4px 4px black;
    border: none;
    border-radius: 5px;
}
#clear{
   grid-column: span 3;
   background-color: rgb(255, 0, 0);
   font-weight: bold;
}

#finalResult{
    grid-row: span 2;
    background-color: rgb(21, 186, 21);
}

.btn-container .calc-btn:hover{
    background-color: rgb(226, 223, 223);
}

.btn-container .calc-btn:active{
    transform: translateY(2px);
}

.screen::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 8px;
    top:0;
    right: 0;
    background-color: black;
    animation: screenAnimation 1s infinite forwards;
}

@keyframes screenAnimation {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

#ecran{
    position: absolute;
}

@media (max-width: 480px) {
   #calculator{
    width: 250px;
    overflow: hidden;
    padding: 15px;
   } 
   #calculator .screen{
    height: 70px;
    font-size: 1.8rem;
    }

   .btn-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    }
    .btn-container .calc-btn{
    font-size: 1.8rem;
    }
    .screen::after{
    width: 4px;
}

}   